<main class="container mt-3">
    <section>
        <div class="card">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card-body">
                        <Timer />
                        <Play />
                        <div class="counter-container">
                            <Counter />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

{{yield}}