<div class="row">
    <div class="col-sm-3">
        <i class="fa fa-tree fa-2x"></i>
    </div>
    <div class="col-sm-3">
        <i class="fa fa-tree fa-2x"></i>
    </div>
    <div class="col-sm-3">
        <i class="fa fa-tree fa-2x"></i>
    </div>
    <div class="col-sm-3">
        <i class="fa fa-tree fa-2x"></i>
    </div>
    <div class="col-sm-3">
        <i class="fa fa-tree fa-2x"></i>
    </div>
    <div class="col-sm-3">
        <i class="fa fa-tree fa-2x"></i>
    </div>
    <div class="col-sm-3">
        <i class="fa fa-tree fa-2x"></i>
    </div>
    <div class="col-sm-3">
        <i class="fa fa-times-circle fa-2x"></i>
    </div>
</div>

{{yield}}