<main class="container mt-3">
    <section>
        <div class="card">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card-body">
                        <h3 class="card-title">25:00</h3>
                        <i class="fa fa-play-circle fa-5x"></i>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <p>O</p>
                        </div>
                        <div class="col-sm-3">
                            <p>O</p>
                        </div>
                        <div class="col-sm-3">
                            <p>O</p>
                        </div>
                        <div class="col-sm-3">
                            <p>O</p>
                        </div>
                        <div class="col-sm-3">
                            <p>O</p>
                        </div>
                        <div class="col-sm-3">
                            <p>O</p>
                        </div>
                        <div class="col-sm-3">
                            <p>O</p>
                        </div>
                        <div class="col-sm-3">
                            <p>O</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<hr>
<section class="container">
    <button class="btn btn-secondary float-right">Toggle Mode</button>
</section>

{{yield}}