<main class="container mt-5">
    <section>
        <div>
            <h1>Tree Timer</h1>
            <h2>We'll plant a tree for every round that you complete!</h2>
        </div>
    </section>
</main>


{{outlet}}